openapi: 3.2.0
info:
  title: Airwallex Open Authentication Payment Intents API
  version: v1
  description: 'Best-effort OpenAPI 3.1 representation of the Airwallex REST API derived from

    https://www.airwallex.com/docs/api. Airwallex is a global payments and

    financial infrastructure platform. Coverage in this best-effort spec

    focuses on the Payment Acceptance and related core resources: payment

    intents, customers, refunds, payouts, transfers, balances, beneficiaries

    and account authentication. Endpoints accept and return JSON.

    '
  contact:
    name: Airwallex
    url: https://www.airwallex.com/docs/api
servers:
- url: https://api.airwallex.com
  description: Airwallex production
- url: https://api-demo.airwallex.com
  description: Airwallex demo / sandbox
security:
- BearerAuth: []
- ClientIdHeader: []
  ApiKeyHeader: []
tags:
- name: Payment Intents
paths:
  /api/v1/payment_intents/create:
    post:
      tags:
      - Payment Intents
      summary: Create a payment intent
      operationId: createPaymentIntent
      responses:
        '201':
          description: Created
  /api/v1/payment_intents/{id}:
    get:
      tags:
      - Payment Intents
      summary: Retrieve payment intent
      operationId: getPaymentIntent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v1/payment_intents/{id}/confirm:
    post:
      tags:
      - Payment Intents
      summary: Confirm payment intent
      operationId: confirmPaymentIntent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v1/payment_intents/{id}/capture:
    post:
      tags:
      - Payment Intents
      summary: Capture payment intent
      operationId: capturePaymentIntent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /api/v1/payment_intents/{id}/cancel:
    post:
      tags:
      - Payment Intents
      summary: Cancel payment intent
      operationId: cancelPaymentIntent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer access token obtained via POST /api/v1/authentication/login using

        `x-client-id` and `x-api-key` request headers.

        '
    ClientIdHeader:
      type: apiKey
      in: header
      name: x-client-id
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
