openapi: 3.1.0
info:
  title: Airwallex Open API
  version: "v1"
  description: |
    Best-effort OpenAPI 3.1 representation of the Airwallex REST API derived from
    https://www.airwallex.com/docs/api. Airwallex is a global payments and
    financial infrastructure platform. Coverage in this best-effort spec
    focuses on the Payment Acceptance and related core resources: payment
    intents, customers, refunds, payouts, transfers, balances, beneficiaries
    and account authentication. Endpoints accept and return JSON.
  contact:
    name: Airwallex
    url: https://www.airwallex.com/docs/api
servers:
  - url: https://api.airwallex.com
    description: Airwallex production
  - url: https://api-demo.airwallex.com
    description: Airwallex demo / sandbox
tags:
  - name: Authentication
  - name: Payment Intents
  - name: Customers
  - name: Refunds
  - name: Payouts
  - name: Transfers
  - name: Balances
  - name: Beneficiaries
paths:
  /api/v1/authentication/login:
    post:
      tags: [Authentication]
      summary: Obtain access token
      description: |
        Exchange the client_id and api_key (sent as `x-client-id` and `x-api-key`
        headers) for a short-lived bearer access token used in subsequent calls.
      operationId: login
      responses:
        '201':
          description: Access token returned
  /api/v1/payment_intents/create:
    post:
      tags: [Payment Intents]
      summary: Create a payment intent
      operationId: createPaymentIntent
      responses:
        '201': { description: Created }
  /api/v1/payment_intents/{id}:
    get:
      tags: [Payment Intents]
      summary: Retrieve payment intent
      operationId: getPaymentIntent
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/payment_intents/{id}/confirm:
    post:
      tags: [Payment Intents]
      summary: Confirm payment intent
      operationId: confirmPaymentIntent
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/payment_intents/{id}/capture:
    post:
      tags: [Payment Intents]
      summary: Capture payment intent
      operationId: capturePaymentIntent
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/payment_intents/{id}/cancel:
    post:
      tags: [Payment Intents]
      summary: Cancel payment intent
      operationId: cancelPaymentIntent
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/pa/customers/create:
    post:
      tags: [Customers]
      summary: Create customer
      operationId: createCustomer
      responses:
        '201': { description: Created }
  /api/v1/pa/customers/{id}:
    get:
      tags: [Customers]
      summary: Retrieve customer
      operationId: getCustomer
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/pa/refunds/create:
    post:
      tags: [Refunds]
      summary: Create refund
      operationId: createRefund
      responses:
        '201': { description: Created }
  /api/v1/pa/refunds/{id}:
    get:
      tags: [Refunds]
      summary: Retrieve refund
      operationId: getRefund
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/payouts/create:
    post:
      tags: [Payouts]
      summary: Create payout
      operationId: createPayout
      responses:
        '201': { description: Created }
  /api/v1/payouts/{id}:
    get:
      tags: [Payouts]
      summary: Retrieve payout
      operationId: getPayout
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/transfers/create:
    post:
      tags: [Transfers]
      summary: Create transfer
      operationId: createTransfer
      responses:
        '201': { description: Created }
  /api/v1/transfers/{id}:
    get:
      tags: [Transfers]
      summary: Retrieve transfer
      operationId: getTransfer
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
  /api/v1/balances/current:
    get:
      tags: [Balances]
      summary: Get current account balances
      operationId: getCurrentBalances
      responses:
        '200': { description: OK }
  /api/v1/beneficiaries:
    get:
      tags: [Beneficiaries]
      summary: List beneficiaries
      operationId: listBeneficiaries
      responses:
        '200': { description: OK }
  /api/v1/beneficiaries/create:
    post:
      tags: [Beneficiaries]
      summary: Create beneficiary
      operationId: createBeneficiary
      responses:
        '201': { description: Created }
  /api/v1/beneficiaries/{id}:
    get:
      tags: [Beneficiaries]
      summary: Retrieve beneficiary
      operationId: getBeneficiary
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Bearer access token obtained via POST /api/v1/authentication/login using
        `x-client-id` and `x-api-key` request headers.
    ClientIdHeader:
      type: apiKey
      in: header
      name: x-client-id
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
security:
  - BearerAuth: []
  - ClientIdHeader: []
    ApiKeyHeader: []
